body{
    background-color: lightgray;
    margin: 0;
}
header{
    height: 100%;
        width: 100%;
        background: rgb(65, 78, 107);
        color: white;
        padding: 10px;
        margin-bottom: 0;
        text-align: center;
}
header p{
    font-size: 20px;
}
.row{
    display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 30px;
        height: 100%;
        width: 100%;
}
.col_tys h1{
    position: absolute;
    margin-left: 80px;
    color: rgb(65, 78, 107);
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.tys_black{
    background-color: black;
    height: 67px;
    width: 301px;
    margin-bottom: 0 auto;
    margin-top: 80px;
}
.tys_red{
    background-color: #ff0000;
    height: 67px;
    width: 301px;
    margin-bottom: 0 auto;
    margin-top: 0 auto;
}
.tys_yellow{
    background-color: #ffcc00;
    height: 67px;
    width: 301px;
    margin-bottom: 0 auto;
    margin-top: 0 auto;
}
.col_ita{
    display: flex; justify-content: space-between
}
.col_ita h1{
    position: absolute;
    margin-left: 100px;
    color: rgb(65, 78, 107);
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.ita_green{
    background-color: green;
    height: 200px;
    width: 100px;
    margin-top: 80px;
}
.ita_white{
    background-color: white;
    height: 200px;
    width: 100px;
    margin-top: 80px;
    border-bottom: 1px solid rgb(242, 221, 242);
    border-top: 1px solid rgb(242, 221, 242);
}
.ita_red{
    background-color: red;
    height: 200px;
    width: 100px;
    margin-top: 80px;
}
.col_rom{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.col_rom h1{
    position: absolute;
    margin-left: 80px;
    color: rgb(65, 78, 107);
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.rom_blue{
    background-color: #002b7f;
    height: 200px;
    width: 100px;
    margin-top: 80px;
}
.rom_yellow{
    background-color: #fcd116;
    height: 200px;
    width: 100px;
    margin-top: 80px;
}
.rom_red{
    background-color: #ce1126;
    height: 200px;
    width: 100px;
    margin-top: 80px;
}